{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'explore/explore_style.css' %}">
  <div class="filter-menu">
    <a href="{% url 'explore' %}" id='explore'>Explore</a>
    <a href="{% url 'followers' %}" id='followers'>Followers</a>
    <a href="{% url 'followings' %}" id='followings' style="background-color: #000">Followings</a>
  </div>
  <div class="container">    <!-- Grid Container -->
    {% for user_profile in followings %}
      <div class="user-profile">
        <a href="{% url 'profile' user_profile.id %}">
          {% if user_profile.profile_pic %}
            <img src="{{ user_profile.profile_pic.url }}" alt="Image">
          {% else %}
            <img src="{% static 'home/images/default-profile.png' %}" alt="Image">
          {% endif %}
          <span class="name">{{ user_profile.user.first_name }} {{ user_profile.user.last_name }}</span><span class="level">{{ user_profile.level }}</span>
        </a>
        <p class="bio">{{ user_profile.bio }}</p>
        {% include 'follow_section.html' %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
