{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/stylehome.css' %}">
    <script type="text/javascript">
    function showWholeContent(id){
      var post = document.getElementById(id);
      post.style.height= "auto";
    }

    </script>

    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
      <div class="panel">
        <div class="posts-container">
          <div class="top-bar">
            {% if user.is_authenticated %}
              {% if logged_user.profile_pic %}
                <img src="{{ logged_user.profile_pic.url }}" class="profile-pic" alt="Image not found">
              {% else %}
                <img src="{% static 'toob/images/default-profile.png' %}" class="profile-pic" alt="Image not found">
              {% endif %}
            {% else %}
              <img src="{% static 'toob/images/default-profile.png' %}" class="profile-pic" alt="Image not found">
            {% endif %}
            <h3 id="TextEffect"></h3>
            <a href="{% url 'write_thought' %}" class="write" id="writebtn">Write Thought</a>
          </div>
          <!-- ======================================================= -->
          {% for post in all_posts %}
            <div class="posts" id="post-{{ post.id }}">
              <div class="post-header">
                <a href="profile/{{ post.user_profile.id }}">
                {% if post.user_profile.profile_pic %}
                  <img src="{{ post.user_profile.profile_pic.url }}" class="profile-pic" alt="Image not found">
                {% else %}
                  <img src="{% static 'toob/images/default-profile.png' %}" class="profile-pic" alt="Image not found">
                {% endif %}
              </a>
                <a href="profile/{{ post.user_profile.id }}"><h3 class="user-name">{{ post.user_profile }}</h3></a><span class="level">{{ post.user_profile.level }}</span>
                <span class="date">{{ post.creation_time }}</span>
              </div>
              <h2 class="thought-title">{{ post.title }}</h2>
              <p class="content" id="{{ post.id }}" onclick="showWholeContent({{ post.id }})">
                {{ post.content|slice:":1300" }} <a class="read_more" href="/details/{{ post.id }}"><b>Read More</b></a>
              </p>
              <div class="post-footer">
                {% include 'like_section.html' %}
                {% include 'dis_like_section.html' %}
                <form action="{% url 'comment_submit' post.id  %}" class="comment-form" method="POST">
                  {% csrf_token %}
                  <input type="text" id="comment{{ post.id }}" name="comment" placeholder="Comment">
                  <button type="submit" class="btn comment-submit">
                    <i class="fa fa-arrow-circle-right fa-lg"></i>
                  </button>

                  <!-- Spreading Comment input -->
                  <script type="text/javascript">
                    var like = document.getElementById("like-form{{ post.id }}");
                    var dis_like = document.getElementById("dis_like-form{{ post.id }}");
                    $('#comment{{ post.id }}').focus(function()
                      {
                        $('#like-form{{ post.id }}').css({
                          'display' : 'none'
                        });
                        $('#dis_like-form{{ post.id }}').css({
                          'display' : 'none'
                        });
                      $(this).animate({
                          width: '54vw',

                        }, 500, function() {
                          // Animation complete.

                        });
                      });


                      $('#comment{{ post.id }}').blur(function()
                      {
                      $(this).animate({
                           width: '28vw'
                         }, 500, function() {
                           // Animation complete.
                           $('#like-form{{ post.id }}').css({
                             'display' : 'inline'
                           });
                           $('#dis_like-form{{ post.id }}').css({
                             'display' : 'inline'
                           });
                         });
                       });
                    </script>

                </form>
                <ul class="icons more-btn" id="more{{ post.id }}">
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
            <div class="more-dropdown" id="more-drp{{ post.id }}">
              <a id="raport-btn{{ post.id }}">Report</a>
              <a href="{% url 'details_post' post.id %}#sharelink{{ post.id }}">Share</a>

            </div>
            <div class="report-box" id="report-box">
              <form action="{% url 'report_post' post.id %}" class="report-form except" method="POST">
                {% csrf_token %}
                <h4 class="except">What is inappropriate about the Thought?</h4>
                <label class="except" for="ac">Adult Content</label><input type="radio" class="except" id="ac" name="reason" value="1"><br>
                <label class="except" for="ma">Misleading Advetisement</label><input type="radio" class="except" id="ma" name="reason" value="2"><br>
                <label class="except" for="abc">Abusives Content</label><input type="radio" class="except" id="abc" name="reason" value="3"><br>
                <label class="except" for="dt">Duplicate Thought</label><input type="radio" class="except" id="dt" name="reason" value="4"><br>
                <label class="except" for="o">Other</label><input type="radio" name="reason" class="except" id="o" value="5"><br>
                <label class="except" for="other" id="other_label">Specify Reason</label><input type="text" class="except" name="other" id="other"><br><br>
                <center><input type="submit" class="except" name="report" id="report-btn" value="Report"></center>
              </form>
            </div>

            <script type="text/javascript">

            $(document).ready(function(){
              $('input[type=radio][name=reason]').change(function(){
                if (this.value === "1"){
                  $("form > label").css({'background': 'none'});
                  $('label[for="ac"]').css({'background': 'rgb(137, 249, 222)'});
                  $('#other_label').css({'display': 'none'});
                  $('#other').css({'display': 'none'});
                }
                else if (this.value === "2") {
                  $("form > label").css({'background': 'none'});
                  $('label[for="ma"]').css({'background': 'rgb(137, 249, 222)'});
                  $('#other_label').css({'display': 'none'});
                  $('#other').css({'display': 'none'});
                }
                else if (this.value === "3") {
                  $("form > label").css({'background': 'none'});
                  $('label[for="abc"]').css({'background': 'rgb(137, 249, 222)'});
                  $('#other_label').css({'display': 'none'});
                  $('#other').css({'display': 'none'});
                }
                else if (this.value === "4") {
                  $("form > label").css({'background': 'none'});
                  $('label[for="dt"]').css({'background': 'rgb(137, 249, 222)'});
                  $('#other_label').css({'display': 'none'});
                  $('#other').css({'display': 'none'});
                }
                else if (this.value === "5") {
                  $("form > label").css({'background': 'none'});
                  $('label[for="o"]').css({'background': 'rgb(137, 249, 222)'});
                  $('#other_label').css({'display': 'inline'});
                  $('#other').css({'display': 'inline'});
                }
              });

              $('#report-box').click(function(event){
                if(!$(event.target).hasClass('except')){
                  $('#report-box').css({'display': 'none'});
              }
            });

              $("#more{{ post.id }}").click(function(){
                $("#more-drp{{ post.id }}").toggle(function(){
                  $("#more-drp{{ post.id }}").animate({
                    width: "15vw",
                    backgroundColor:'#f9f9f9'
                  },500);
                });
              });


              $("#raport-btn{{ post.id }}").click(function(){
                $("#more-drp{{ post.id }}").css({'display': 'none'});
                $('#report-box').css({'display': 'block'});
              });
            });
            </script>
          {% endfor %}
          <!-- ============================================================= -->


        </div>
        <div class="following-container">
          <div class="following-box">
            <h3 class="box-header">Popular Thinkers</h3>
            {% for thinker in popular %}
            <a href="{% url 'profile' thinker.id %}">
              <div class="following">
                {% if thinker.profile_pic %}
                  <img src="{{ thinker.profile_pic.url }}" alt="" class="following-profile">
                {% else %}
                  <img src="{% static 'home/images/default-profile.png'%}" alt="" class="following-profile">
                {% endif %}
                <h3 class="user-name-profile">{{ thinker.user.first_name }}</h3>
              </div>
            </a>
            {% endfor %}
          </div>
          {% if user.is_authenticated %}
            <div class="mathch-box">
              <h3 class="box-header">Your Followings</h3>
              {% for thinker in followings %}
              <a href="{% url 'profile' thinker.id %}">
                <div class="following">
                  {% if thinker.profile_pic %}
                    <img src="{{ thinker.profile_pic.url }}" alt="" class="following-profile">
                  {% else %}
                    <img src="{% static 'home/images/default-profile.png'%}" alt="" class="following-profile">
                  {% endif %}
                  <h3 class="user-name-profile">{{thinker.user.first_name}}</h3>
                </div>
              </a>
              {% empty %}
                <h3>You dont't have any Followings</h3>
              {% endfor %}
            </div>
          {% else %}
            <div class="mathch-box">
              <h3 class="box-header">Login to Picmesh</h3>

            </div>
          {% endif %}
        </div>
      </div>

    <script type="text/javascript">
      var i = 0;
      var txt = 'Welcome {% if user.is_authenticated %} {{ user.first_name }} {% else %} {% endif %}, Lets Start Thinking out of Box';
      var speed = 150;

      $(document).ready(function typeWriter(){
        if (i < txt.length) {
          document.getElementById("TextEffect").innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
        else if (i==txt.length) {
          document.getElementById("writebtn").style.display = "inline";
        }
      });
    </script>


{% endblock %}
