{% extends "admin/base.html" %}

{% block title %}Toob Administration{% endblock %}
{% block extrahead %}
    {% load static %}
    <link rel="shortcut icon" href="{% static 'toob/images/icons/favicon.jpg' %}">
{% endblock %}



{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Toob Administraion</a></h1>
{% endblock %}


{% block nav-global %}
  <a href="{% url 'analyse' %}">Analyse Data on Toob</a> &nbsp;|
  <a href="{% url 'log_file' %}">Get Server Logs</a>

{% endblock %}
