<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <script type="text/javascript" src="{% static 'toob/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'basestyle.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'toob/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="shortcut icon" href="{% static 'toob/images/icons/favicon.png' %}">
    {% block extrahead %}
    {% endblock %}
</head>
<body>
      <!-- Markup for Menu -->
      <header>

        <ul class="mainMenu" id="menu">
          {% if user.is_authenticated %}
            <a href="/profile/{{ request.user.profile.id }}"><li class="menuItem" id="profile"><span class="fa fa-user-circle"></span><span class="tooltiptext" id="profile-tooltip">Profile</span></li></a>
          {% else %}
            <a href="{% url 'login' %}"><li class="menuItem" id="profile"><span class="fa fa-user-circle"></span><span class="tooltiptext" id="profile-tooltip">Profile</span></li></a>
          {% endif %}
          <a href="{% url 'home' %}"><li class="menuItem" id="home"><span class="fa fa-home"></span><span class="tooltiptext" id="home-tooltip">Home</span></li></a>

          <a href="#"><li class="menuItem except" id="bell"><span class="fa fa-bell except"><span class="tooltiptext" id="bell-tooltip">Notification</span></li></a>
          {% if unseen_notif_count > 0 %}
            <span id="notif_count">{{ unseen_notif_count }}</span>
          {% endif %}
          <a href="{% url 'explore' %}"><li class="menuItem" id="community"><span class="fa fa-users"><span class="tooltiptext" id="users-tooltip">Explore</span></li></a>
          {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><li class="menuItem" id="logout"><span class="fa fa-sign-out"><span class="tooltiptext" id="sign-out-tooltip">Logout</span></li></a>
          {% else %}
            <a href="{% url 'login' %}"><li class="menuItem" id="login"><span class="fa fa-sign-in"><span class="tooltiptext" id="sign-out-tooltip">Login</span></li></a>
          {% endif %}
        </ul>
      </header>
      <div class="notifications except" id="notifications">
        <ul class="except">
          {% for msg in my_notif reversed %}
            {% if msg.view == False %}
              <li class="msg except"><a href="{{ msg.redirect_url }}" style="color:rgb(245, 125, 0)">{{ msg.sender }} {{ msg.message }}</a></li>
            {% else %}
              <li class="msg except"><a href="{{ msg.redirect_url }}">{{ msg.sender }} {{ msg.message }}</a></li>
            {% endif %}
          {% empty %}
              <li>You dont't have any Notifications right Now...
            {% if user.is_authenticated %}
              <span style="font-size: 1.8vw">Your Future Notifications will appeear here</span></li>
            {% else %}
              <span style="font-size: 1.8vw">Login to get Notifications and Future Updates on TOOB</span></li>
            {% endif %}
          {% endfor %}
          {% if user.is_authenticated %}
            <li class="msg except"><a href="">Show all Notifications</a></li>
          {% endif %}
        </ul>
      </div>
      <script type="text/javascript">
        $("#bell").click(function(){
          $("#notifications").fadeToggle();
        });
        $('html').click(function(e){
          if(!$(e.target).hasClass('except'))
          {
            $("#notifications").hide();
          }
        });

        $("#bell").click(function(e){
          e.preventDefault();
          $.ajax({
            url: '{% url "views_notif" %}',
            type: "POST",
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(data){
              $("#notif_count").css({'display':'None'})
            },
            error: function(xhr, statusText, err){
              console.log(" ERROR OCCURED ",xhr);
            }
          });
        });
      </script>
    {% block content %}
    {% endblock %}
</body>
</html>
