<form id="dis_like-form{{ post.id }}">
  {% csrf_token %}
  {% if user.is_authenticated %}
  <button type="submit" id="{{ post.id }}btn2" name="like" value="{{ post.id }}" class="btn upvote">{{ post.dis_likes.count }}&nbsp;<i class="fa fa-thumbs-down"></i></button>
  <script type="text/javascript">
    {% for dis_like in post.dis_likes.all %}
      {% if dis_like != user %}

      {% else %}
        dis_likingPost("{{ post.id }}btn2");
      {% endif %}
    {% endfor %}


// Adding AJAX for Like button
    $(document).ready(function(event){
      $(document).on('click', '#{{ post.id }}btn2', function(event){
        event.preventDefault();
        event.stopImmediatePropagation();
        pk = $(this).attr('value');
        $.ajax({
          type: 'POST',
          url: '{% url "dis_like_post" %}',
          data: {
            'id': pk,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },

          success:function(response){
            $('#dis_like-form{{ post.id }}').html(response['dis_like_form']);
            $('#like-form{{ post.id }}').html(response['like_form']);
            console.log('Request sent to Dis_Like_post')
            // $('#{{ post.id }}btn').style.color = 'green';
          }, error: function(er, e){
            console.log(er.responseText);
          }
        });
      });
    });

  </script>
  {% else %}
    <button type="button" id="{{ post.id }}btn2" onclick="location.href='{% url 'login' %}';" name="like" class="btn upvote">{{ post.dis_likes.count }}&nbsp;<i class="fa fa-thumbs-down"></i></button>
  {% endif %}
</form>
