<form id="like-form{{ post.id }}">
  {% csrf_token %}
  <button type="submit" id="{{ post.id }}btn" name="like" value="{{ post.id }}" class="btn upvote">Like</button>
  <script type="text/javascript">
    function likingPost(id){
      var liked = document.getElementById(id);
      liked.style.background = "rgb(34, 233, 42)";
    }

    function dis_likingPost(id){
      var dis_liked = document.getElementById(id);
      dis_liked.style.background = "rgb(255, 0, 0)"
    }

    {% for like in post.likes.all %}
      {% if like != user %}

      {% else %}
        likingPost("{{ post.id }}btn");
      {% endif %}
    {% endfor %}


// Adding AJAX for Like button
    $(document).ready(function(event){
      $(document).on('click', '#{{ post.id }}btn', function(event){
        event.preventDefault();
        event.stopImmediatePropagation();
        pk = $(this).attr('value');
        $.ajax({
          type: 'POST',
          url: '{% url "like_post" %}',
          data: {
            'id': pk,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },

          success:function(response){
            $('#like-form{{ post.id }}').html(response['like_form']);
            $('#dis_like-form{{ post.id }}').html(response['dis_like_form']);
            console.log('Request sent to Like_post')
            // $('#{{ post.id }}btn').style.color = 'green';
          }, error: function(er, e){
            console.log(er.responseText);
          }
        });
      });
    });

  </script>
</form>
