/* Design for Post panel */
.panel{
  display: flex;
  justify-content: center;
  height: auto;
}

.posts-container{
  flex: 3;
}


.posts{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: 65vw;
  height: auto;
  background-color: #fff;
  border-radius: 0.8vw;
}


.post-header{
  display: flex;
  justify-content: flex-start;
  border-bottom: inset;
}

.profile-pic{
  margin: 0.4vw 0 0 0.4vw;
  border-radius: 50%;
  height: 5vw;
  width: 5vw;
}

.user-name{
  margin: 1.8vw 0 0 1vw;
  padding: 0;
  font-size: 2.5vw;
}

.tag{
  margin-left: 1vw;
  background-color: rgb(237, 236, 108);
  font-size: 1.4vw;
}

.level{
  background-color: rgb(236, 179, 53);
  border-radius: 2vw;
  padding: 0.15vw;
  margin-left: 0.4vw;
  height: 1.8vw;
  font-size: 1.5vw;
  text-align: center;
  position: relative;
  top : 2vw;
}

.date{
  margin-top: 4vw;
  margin-left: auto;
  height: 2vw;
  font-size: 1.4vw;
}

.thought-title{
  margin: 1vw 0 0 1.5vw;
  font-size: 2.8vw;
}

.post-image{
  width: 85%;
  height: auto;
}

.content{
  margin-left: 1.5vw;
  text-align: justify;
  padding-right: 2vw;
  font-size: 1.6vw;
  height: auto;

}

.post-footer{
  width: inherit;
  height: 2.6vw;
  background-color: #fff;
  height: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 2vw;
  padding-bottom: 0.2vw;
}

.btn{
  border-style: none;
  height: 3.1vw;
  width: 12vw;
  font-size: 2vw;
}

.btn:hover{
  transition-duration:  400ms;
  background-color: rgb(155, 158, 155);
}

.comment-form{
  display: inline;
  height: inherit;
}

input[name="comment"]{
  border: none;
  background-color: rgb(227, 226, 226);
  height: 3vw;
  width: 30vw;
  padding: 0;
  font-size: 1.8vw;
}

.comment-submit{
  padding: 0px;
  border-radius: 50%;
  width: 2.6vw;
  height: 2.6vw;
  position: relative;
  right: 3vw;
  top: 0.2vw;
}

.shareLinks{
  display: flex;
  justify-content: space-around;
}

.shareLinks a{
  margin: 1vw;
  padding: 1.1vw 2vw;
  color: #fff;
  font-size: 1.4vw;
  border-radius: 0.2vw;
}

.shareLinks a:hover{
  opacity: 0.7;
}

#fb{
  background-color: #3b5998;
}

#whatsapp{
  background-color: #25d366;
}

#linkden{
  background-color: #007bb5;
}

#twitter{
  background-color:  #1da1f2;
}

.comments > h2{
  margin: 0;
  font-size: 2.8vw;
}

.comment-container{
  border-top: groove;
  padding: 1vw 0vw 1vw 0vw;
}

.comment-header{
  /* display: flex;
  justify-content: flex-start; */
  width: auto;
  padding: 0 1vw 0 0;
  display: inline-block;
  height: auto;
  background-color: rgb(150, 150, 144);
  border-radius: 10vw;
}

.comment-profile-pic{
  margin: 0.4vw 0 0 0.4vw;
  border-radius: 50%;
  height: 2vw;
  width: 2vw;
}

.comment-user-name{
  display: inline;
  position: relative;
  bottom: 0.4vw;
  padding: 0;
  font-size: 1.8vw;
}

.comment-content{
  display: inline-block;
  margin: 0.5vw 0 0 1vw;
  font-size: 1.5vw;
  line-height: 1.8vw;
}

.comment-date{
  float: right;
  margin-top: 0.4vw;
  margin-left: auto;
  height: 2vw;
  font-size: 1.4vw;
}

.side-bar{
  flex: 1;
}

.also-like{
  /* background-color: rgb(172, 185, 173); */
  margin: 2vw auto 2vw auto;
  width: 23vw;
  height: auto;
  padding-bottom: 1vw;
}

.also-like > h3{
  /* display: inline-block; */
  margin: 0 0 0.8vw 0;
}

.more-thought{
  font-size: 1.25vw;
  display: inline-block;
  margin: 0.6vw 0 0.6vw 0;
  text-decoration: none;
  color: rgb(32, 74, 254);
}

.more-thought:hover{
  color: rgb(0, 0, 0);
}
