{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'details/details_post_style.css' %}">
<div class="panel">
  <div class="posts-container">
    <div class="posts" id="main_post">
      <div class="post-header">
        <a href="/profile/{{ post.user_profile.id }}">
        {% if post.user_profile.profile_pic %}
          <img src="{{ post.user_profile.profile_pic.url }}" class="profile-pic" alt="Image not found">
        {% else %}
          <img src="{% static 'toob/images/default-profile.png' %}" class="profile-pic" alt="Image not found">
        {% endif %}
      </a>
        <a href="/profile/{{ post.user_profile.id }}"><h3 class="user-name">{{ post.user_profile }}</h3></a><span class="level">{{ post.user_profile.level }}</span>
        <span class="date">{{ post.creation_time }}</span>
      </div>
      {% for tag in tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
      <h2 class="thought-title">{{ post.title }}</h2>
      {% if post.image %}
        <center><img class="post-image" src="{{ post.image.url }}" alt="Image not found"></center>
      {% endif %}
      <p class="content" id="1">
        {{ post.content }}
      </p>
      <div class="post-footer">
        {% include 'like_section.html' %}
        {% include 'dis_like_section.html' %}
        <form class="comment-form" action="{% url 'comment_submit' post.id  %}" method="POST">
          {% csrf_token %}
          <input type="text" id="comment" name="comment" placeholder="Comment">
          <button type="submit" id="comment-submit" class="btn comment-submit">
            <i class="fa fa-arrow-circle-right fa-lg"></i>
          </button>
          <script type="text/javascript">
          var like = document.getElementById("btn1");
          var dis_like = document.getElementById("btn2");
          $('#comment').focus(function()
            {
              $('#{{ post.id }}btn').css({'display': 'none'})
              $('#{{ post.id }}btn2').css({'display': 'none'})
            $(this).animate({
                width: '58vw',

              }, 500, function() {
                // Animation complete.

              });
            });


            $('#comment').blur(function()
            {
            $(this).animate({
                 width: '28vw'
               }, 500, function() {
                 // Animation complete.
                 $('#{{ post.id }}btn').css({'display': 'inline'})
                 $('#{{ post.id }}btn2').css({'display': 'inline'})
               });
             });


          </script>
        </form>
        <ul class="icons more-btn" id="more{{ post.id }}">
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="more-dropdown" id="more-drp{{ post.id }}">
        <a>Report</a>

      </div>
      <div class="report-box" id="report-box">
        <form action="{% url 'report_post' post.id %}" class="report-form except" method="POST">
          {% csrf_token %}
          <h4 class="except">What is inappropriate about the Thought?</h4>
          <label class="except" for="ac">Adult Content</label><input type="radio" class="except" id="ac" name="reason" value="1"><br>
          <label class="except" for="ma">Misleading Advetisement</label><input type="radio" class="except" id="ma" name="reason" value="2"><br>
          <label class="except" for="abc">Abusives Content</label><input type="radio" class="except" id="abc" name="reason" value="3"><br>
          <label class="except" for="dt">Duplicate Thought</label><input type="radio" class="except" id="dt" name="reason" value="4"><br>
          <label class="except" for="o">Other</label><input type="radio" name="reason" class="except" id="o" value="5"><br>
          <label class="except" for="other" id="other_label">Specify Reason</label><input type="text" class="except" name="other" id="other"><br><br>
          <center><input type="submit" class="except" name="report" id="report-btn" value="Report"></center>
        </form>
      </div>
      <script type="text/javascript">

      $(document).ready(function(){
        $('input[type=radio][name=reason]').change(function(){
          if (this.value === "1"){
            $("form > label").css({'background': 'none'});
            $('label[for="ac"]').css({'background': 'rgb(137, 249, 222)'});
            $('#other_label').css({'display': 'none'});
            $('#other').css({'display': 'none'});
          }
          else if (this.value === "2") {
            $("form > label").css({'background': 'none'});
            $('label[for="ma"]').css({'background': 'rgb(137, 249, 222)'});
            $('#other_label').css({'display': 'none'});
            $('#other').css({'display': 'none'});
          }
          else if (this.value === "3") {
            $("form > label").css({'background': 'none'});
            $('label[for="abc"]').css({'background': 'rgb(137, 249, 222)'});
            $('#other_label').css({'display': 'none'});
            $('#other').css({'display': 'none'});
          }
          else if (this.value === "4") {
            $("form > label").css({'background': 'none'});
            $('label[for="dt"]').css({'background': 'rgb(137, 249, 222)'});
            $('#other_label').css({'display': 'none'});
            $('#other').css({'display': 'none'});
          }
          else if (this.value === "5") {
            $("form > label").css({'background': 'none'});
            $('label[for="o"]').css({'background': 'rgb(137, 249, 222)'});
            $('#other_label').css({'display': 'inline'});
            $('#other').css({'display': 'inline'});
          }
        });

        $("#more-drp{{ post.id }}").click(function(){
          $("#more-drp{{ post.id }}").css({'display': 'none'});
          $('#report-box').css({'display': 'block'});
        });

        $('#report-box').click(function(event){
          if(!$(event.target).hasClass('except')){
            $('#report-box').css({'display': 'none'});
        }
        })
      });

        $("#more{{ post.id }}").click(function(){
          $("#more-drp{{ post.id }}").toggle(function(){
            $("#more-drp{{ post.id }}")
          });
        });


      </script>
      <div class="shareLinks" id="sharelink{{ post.id }}">

        <a id="fb" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
          Facebook
        </a>
        <a id="whatsapp" href="https://wa.me/whatsappphonenumber/?text={{ post.title }}">
          Whatsapp
        </a>
        <a id="linkden" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
          Linkedin
        </a>
        <a id="twitter" href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
          Twitter
        </a>
      </div>
      {% include 'comment_section.html' %}
    </div>
  </div>

  <!-- Markup for sidebar -->

  <div class="side-bar">
    <div class="also-like">
      <h3>You may also Like</h3>
      {% for thought in also_like %}
        <a class="more-thought" href="{% url 'details_post' thought.id %}">{{ thought.title }}</a><br>
      {% endfor %}
    </div>

    <div class="also-like">
      <h3>Trending thoughts</h3>
      {% for thought in trending %}
        <a class="more-thought" href="{% url 'details_post' thought.id %}">{{ thought.title }}</a><br>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
