{% extends 'base.html' %}
{% block header %}

{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'details/details_post_style.css' %}">
<div class="panel">
  <div class="posts-container">
    <div class="posts" id="post-1">
      <div class="post-header">
        <img src="{% static 'toob/images/default-profile.png' %}" class="profile-pic" alt="Image not Found" />
        <h3 class="user-name">{{ post.user_profile }}</h3><span class="level">{{ post.user_profile.level }}</span>
        <span class="date">{{ post.creation_time }}</span>
      </div>
      <h2 class="thought-title">{{ post.title }}</h2>
      {% if post.image %}
        <center><img class="post-image" src="{{ post.image.url }}" alt="Image not found"></center>
      {% endif %}
      <p class="content" id="1" onclick="showWholeContent(1)">
        {{ post.content }}
      </p>
      <div class="post-footer">
        {% include 'like_section.html' %}
        {% include 'dis_like_section.html' %}
        <form action="/details/comment/{{ post.id }}/" method="POST" class="comment-form">
          {% csrf_token %}
          <input type="text" id="comment" name="comment" placeholder="Comment">
          <button type="submit" class="btn comment-submit">
            <i class="fa fa-arrow-circle-right fa-lg"></i>
          </button>
          <script type="text/javascript">
          var like = document.getElementById("btn1");
          var dis_like = document.getElementById("btn2");
          $('#comment').focus(function()
            {
              $('#{{ post.id }}btn').css({'display': 'none'})
              $('#{{ post.id }}btn2').css({'display': 'none'})
              // like.style.display = "none";
              // dis_like.style.display = "none";
            $(this).animate({
                width: '58vw',

              }, 500, function() {
                // Animation complete.

              });
            });


            $('#comment').blur(function()
            {
            $(this).animate({
                 width: '28vw'
               }, 500, function() {
                 // Animation complete.
                 $('#{{ post.id }}btn').css({'display': 'inline'})
                 $('#{{ post.id }}btn2').css({'display': 'inline'})
               });
             });
          </script>

        </form>


      </div>
      <div class="comments">
        <h2>Comments</h2>
        {% for com in comments reversed %}
        <div class="comment-container">
          <div class="comment-header">
            <img src="{% static 'toob/images/default-profile.png' %}" class="comment-profile-pic" alt="Image not Found" />
            <h3 class="comment-user-name">{{ com.user }}</h3>


          </div>
          <span class="comment-date">22 August 2015</span>
          <p class="comment-content">
             {{ com.comment }}
          </p>

        </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <!-- Markup for sidebar -->

  <div class="side-bar">
    <div class="also-like">
      <h3>You may also Like</h3>
      <a class="more-thought" href="#">This is thought Title</a><br>
      <a class="more-thought" href="#">This is thought Title</a><br>
      <a class="more-thought" href="#">the act of thinking about or considering something,
          an idea or opinion, or a set of ideas about a particular subject: </a><br>
      <a class="more-thought" href="#">This is thought Title</a><br>
      <a class="more-thought" href="#">This is thought Title</a><br>
    </div>

    <div class="also-like">
      <h3>Trending thoughts</h3>
      <a class="more-thought" href="#">This is thought Title</a><br>
      <a class="more-thought" href="#">This is thought Title</a><br>
      <a class="more-thought" href="#">the act of thinking about or considering something,
          an idea or opinion, or a set of ideas about a particular subject: </a><br>
      <a class="more-thought" href="#">This is thought Title</a><br>
      <a class="more-thought" href="#">This is thought Title</a><br>
    </div>
  </div>
</div>

{% endblock %}
