{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'details/details_post_style.css' %}">
<div class="panel">
  <div class="posts-container">
    <div class="posts" id="main_post">
      <div class="post-header">
        <a href="/profile/{{ post.user_profile.id }}">
        {% if post.user_profile.profile_pic %}
          <img src="{{ post.user_profile.profile_pic.url }}" class="profile-pic" alt="Image not found">
        {% else %}
          <img src="{% static 'toob/images/default-profile.png' %}" class="profile-pic" alt="Image not found">
        {% endif %}
      </a>
        <a href="/profile/{{ post.user_profile.id }}"><h3 class="user-name">{{ post.user_profile }}</h3></a><span class="level">{{ post.user_profile.level }}</span>
        <span class="date">{{ post.creation_time }}</span>
      </div>
      {% for tag in tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
      <h2 class="thought-title">{{ post.title }}</h2>
      {% if post.image %}
        <center><img class="post-image" src="{{ post.image.url }}" alt="Image not found"></center>
      {% endif %}
      <p class="content" id="1">
        {{ post.content }}
      </p>
      <div class="post-footer">
        {% include 'like_section.html' %}
        {% include 'dis_like_section.html' %}
        <form class="comment-form" action="{% url 'comment_submit' post.id  %}" method="POST">
          {% csrf_token %}
          <input type="text" id="comment" name="comment" placeholder="Comment">
          <button type="submit" id="comment-submit" class="btn comment-submit">
            <i class="fa fa-arrow-circle-right fa-lg"></i>
          </button>
          <script type="text/javascript">
          var like = document.getElementById("btn1");
          var dis_like = document.getElementById("btn2");
          $('#comment').focus(function()
            {
              $('#{{ post.id }}btn').css({'display': 'none'})
              $('#{{ post.id }}btn2').css({'display': 'none'})
            $(this).animate({
                width: '58vw',

              }, 500, function() {
                // Animation complete.

              });
            });


            $('#comment').blur(function()
            {
            $(this).animate({
                 width: '28vw'
               }, 500, function() {
                 // Animation complete.
                 $('#{{ post.id }}btn').css({'display': 'inline'})
                 $('#{{ post.id }}btn2').css({'display': 'inline'})
               });
             });


          </script>
        </form>
      </div>
      <div class="shareLinks" id="sharelink{{ post.id }}">

        <a id="fb" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
          Facebook
        </a>
        <a id="whatsapp" href="https://wa.me/whatsappphonenumber/?text={{ post.title }}">
          Whatsapp
        </a>
        <a id="linkden" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ post.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
          Linkedin
        </a>
        <a id="twitter" href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
          Twitter
        </a>
      </div>
      {% include 'comment_section.html' %}
    </div>
  </div>

  <!-- Markup for sidebar -->

  <div class="side-bar">
    <div class="also-like">
      <h3>You may also Like</h3>
      {% for thought in also_like %}
        <a class="more-thought" href="{% url 'details_post' thought.id %}">{{ thought.title }}</a><br>
      {% endfor %}
    </div>

    <div class="also-like">
      <h3>Trending thoughts</h3>
      {% for thought in trending %}
        <a class="more-thought" href="{% url 'details_post' thought.id %}">{{ thought.title }}</a><br>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
