.panel{
  display: flex;
  justify-content: center;
  height: auto;
}

.top-bar{
  margin: 2vw auto 2vw auto;
  height: auto;
  background-color: rgb(62, 60, 62);
  width: 70vw;
  color: #fff;
  border-radius: 0.8vw;
  /* font-family: sans-serif; */

}

.top-bar > h3{
  margin: 0;
  position: relative;
  bottom: 1.5vw;
  display: inline-block;
  font-size: 1.9vw;
}

.write{
  margin: 1vw;
  padding: 1.5vw;
  position: relative;
  bottom: 1.9vw;
  background-color: rgb(204, 255, 121);
  border-radius: 4vw;
  font-size: 1.5vw;
  color: #000;
  left: 11vw;
  display: none;
}

.write:hover{
  background-color: rgb(174, 250, 50);
}

.posts-container{

  flex: 3;
}


.posts{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: 60vw;
  height: auto;
  background-color: #fff;
  border-radius: 0.8vw;
}


.post-header{
  display: flex;
  justify-content: flex-start;
  border-bottom: inset;
}

.profile-pic{
  margin: 0.4vw 0 0 0.4vw;
  border-radius: 50%;
  height: 5vw;
  width: 5vw;
}

.user-name{
  margin: 1.6vw 0 0 1vw;
  padding: 0;
  font-size: 2.4vw;
}

.level{
  background-color: rgb(236, 179, 53);
  border-radius: 2vw;
  padding: 0.15vw;
  margin-left: 0.4vw;
  height: 1.8vw;
  font-size: 1.5vw;
  text-align: center;
  position: relative;
  top : 2vw;
}

.date{
  margin-top: 4vw;
  margin-left: auto;
  height: 2vw;
  font-size: 1.4vw;
}

.thought-title{
  margin: 1vw 0 0 1.5vw;
  font-size: 2vw;
}

.content{
  margin-left: 1.5vw;
  text-align: justify;
  padding-right: 2vw;
  font-size: 1.4vw;
  height: 8vw;
  overflow-y: hidden;
}

.read_more{
  color: rgb(29, 56, 233);
  background-color: rgb(146, 222, 120);
  margin: 0.7vw 0.7vw 1.2vw 0.7vw;
  font-style: italic;
}

.post-footer{
  width: inherit;
  height: 2.6vw;
  background-color: #fff;
  height: auto;
  display: flex;
  justify-content: space-around;
  border-radius: 2vw;
  padding-bottom: 0.2vw;
}


.btn{
  border-style: none;
  height: inherit;
  width: 12vw;
  font-size: 2vw;
}


.btn:hover{
  transition-duration:  400ms;
  background-color: rgb(153, 154, 153);
}

.comment-form{
  display: inline;
  height: inherit;
}

input[name="comment"]{
  border: none;
  background-color: rgb(227, 226, 226);
  height: 2.5vw;
  width: 28vw;
  padding: 0;
  font-size: 1.8vw;
  position: relative;
  bottom: 0.15vw;
}

.fa-arrow-circle-right{
  position: relative;
  bottom: 0.15vw;
}

.comment-submit{
  padding: 0px;
  border-radius: 50%;
  width: 2.6vw;
  height: 2.6vw;
  position: relative;
  right: 3vw;
  top: 0.1vw;
}

.more-btn{
  margin: 0;
  padding: 0;
  height: 2.5vw;
  width: 2.1vw;
  line-height: 0.8vw;
  color: rgb(183, 178, 186);
  position: relative;
  right: 1.5vw;
  font-size: 1.3vw;
  /* background-color: rgb(22, 110, 185); */
}

.more-btn > li{
  position: relative;
  left: 2.65vw;
}

.more-dropdown{
  display: none;
  position: relative;
  margin: 0px;
  left: 50vw;
  bottom: 13vw;
  margin-bottom: -9.4vw;
  /* margin-top: 60px; */
  width: 15vw;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 1.2vw;
}

.more-dropdown a{
  color: black;
  padding: 1.2vw 0vw;
  text-align: center;
  display: block;
}

.more-dropdown a:hover{
  background-color: #f1f1f1
}

.report-box{
  display: none;
  position: fixed;
  top: 0vw;
  left: 0vw;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 190, 196, 0.8);
  z-index: 2;

}


.report-form{
  width: 23vw;
  height: auto;
  background-color:rgb(255, 255, 255);
  padding: 0.5vw 1vw 2.2vw 1vw;
  position: fixed;
  top: 30vh;
  left: 40vw;
}

.report-form > h4{
  font-size: 1.3vw;
}

#other_label, #other{
  display: none;
}


.report-form > label{
  padding: 0.1vw 1vw;
  margin-bottom: 1vw;
  font-size: 1.3vw;
}

input[type="radio"]{
  display: none;
}

#report-btn{
  font-size: 1.3vw;
  width: 5.5vw;
  height: 2vw;
}


.shareLinks{
  display: none;
}


.following-container{
  flex: 1;
}

.following-box{
  margin: 3vw 3vw 0 0;
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  padding: 0.5vw;
  width: 19vw;
  height: 25vw;
  overflow-y:auto;
  border: none;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


.box-header{
  margin-top: 0.2vw;
  margin-bottom: 0.5vw;
  font-size: 1.6vw;
}

.following{
  margin: 0.4vw 0 0.4vw 0;
  width: 17.5vw;
  height: 4.2vw;
  background-color: rgb(198, 196, 194);
  border-radius: 2vw;
}

.following-profile{
  margin: 0.3vw 0 0 0.4vw;
  border-radius: 50%;
  width: 3.6vw;
  height: 3.6vw;
}

.user-name-profile{
  display: inline-block;
  position: relative;
  bottom: 1vw;
  font-size: 2vw;
}

.mathch-box{
  margin: 3vw 3vw 0 0;
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  padding: 0.5vw;
  width: 19vw;
  height: 25vw;
  overflow-y:auto;
  border: none;
}
